h2
{
  text-align: center;
  color: blue;
}
body
{
  background-color: #66FF99;
}
img {
  border-radius: 50%;
  background-color: black;
}
.sidebar {
  width: 40%;
  float: left;
  /* background-color: #2d7788; */
}
