h2
{
  text-align: center;
  font-size: 18px;
  color: black;
  font-style: italic;
}
body
{
  background-color: #66FF99;
}
img {
  border-radius: 50%;
  background-color: black;
}
.projects{
  background-color: lightblue;
  float:left;
  align-items: right;
  clear: both;
}
.sidebar {
  width: 40%;
  float: left;
  background-color: #66FF99;
}
.contact{
  width: 20%
  float:right;
  clear: both;
}
